spring:
  application:
    name: bookstore-api

  datasource:
    url: jdbc:mysql://localhost:3306/bookstore
    username: bookstore
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    open-in-view: false

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.bookstore.bookstore_api.user.domain.entity
  configuration:
    map-underscore-to-camel-case: true