<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookstore.bookstore_api.admin.adapter.out.AdminMapper">

    <select id="findByAdminId" resultType="AdminEntity">
        SELECT
            id,
            admin_id,
            password,
            role_id,
            created_at,
            updated_at
        FROM admins
        WHERE admin_id = #{adminId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admins (
            admin_id,
            password,
            role_id,
            created_at,
            updated_at
        ) VALUES (
            #{adminId},
            #{password},
            #{roleId},
            NOW(),
            NOW()
        )
    </insert>

</mapper>
