<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookstore.bookstore_api.product.adapter.out.persistence.ProductMapper">

    <select id="findById" resultType="BookEntity">
        SELECT * FROM books WHERE id = #{id}
    </select>

    <select id="findAllByIds" resultType="BookEntity">
        SELECT * FROM books WHERE id IN
        <foreach collection="ids" item="id" open="()" separator="," close=")">
            #{id}
        </foreach>
    </select>
    
    <update id="updateStock" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            UPDATE books
            SET stock = stock - #{item.quantity}
            WHERE id = #{item.productId}
        </foreach>
    </update>

</mapper>